@font-face {
    font-family: myRunes;
    src: url("font/Norse.otf");
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
}
.containerText {
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 60vw;
}
.header {
    display: flex;
    flex-direction: column;
    align-content: end;
    padding-left: 64px;
    margin-top: -10vw;
    margin: 0;
    margin-bottom: 32px;
}
.containerForm {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 3px 10px 1px rgba(129, 129, 129, 0.397);
    padding-left: 64px;
    padding-top: 32px ;
    padding-bottom: 32px;
    margin-bottom: 32px;
    gap: 16px;
    font-weight: 500;
    background-color: white;
}
.form {
    display: flex;
    flex-direction: row;
    font-size: 10px;
    font-weight: 600;
    color: rgba(46, 46, 46, 0.938);
}
.formLabel {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    font-size: 10px;
    margin-right: 64px;
}
.input {
    height: 25px;
    width: 300px;
    font-size: 16px;
    border-color: rgba(104, 104, 104, 0.151);
    border-radius: 4px;

}
input:focus {
  border-color: #4a90e2;
  outline: none;
}
.confirmation {
    margin-left: 64px;
    margin-top: 32px;
    font-size: 16px;
}
button {
    background-color: #596D48;
    border-radius: 8px;
    padding: 12px 32px;
    color: white;
    font-size: 16px;
    font-weight: 900;
}
#logInLink {
    color: #596D48;
    font-weight: 600;
}
.imageHolder {
    display: flex;
    flex-direction: row;
    margin: 0;
    width: 40vw;
    height: 100vh;
    position: relative;
}
#leaf {
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
}
.odinLogo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    padding-left: 15%;     
    padding-right: 15%;           
    background-color: rgba(0, 0, 0, 0.66);           
    box-sizing: border-box;   
}
#odin {
    height: 60%;
    width: 30%;
}
.odinText {
    font-family: MyRunes;
    font-size: 6em;
    font-weight: 600;
    display: flex;
    color: white;
    position: absolute;
    left: 40%;
    flex-shrink: 0;
}
